In [0]:
from pyspark.sql import Row
from pyspark.sql.types import *
data = [
    Row(name="Alice", age=25, city="New York", salary=60000),
    Row(name="Bob", age=30, city="Chicago", salary=75000),
    Row(name="Charlie", age=35, city="San Francisco", salary=90000),
    Row(name="Diana", age=40, city="Boston", salary=85000),
    Row(name="Ethan", age=45, city="Seattle", salary=95000)
]
schema = StructType([
    StructField("name", StringType(), True),
    StructField("age", IntegerType(), True),
    StructField("city", StringType(), True),
    StructField("salary", IntegerType(), True)
])
df = spark.createDataFrame(data, schema)

In [0]:
selected_df = df.select("name", "age", "city")

In [0]:
selected_df.show()
selected_df.show(3)
selected_df.show(truncate=False)
selected_df.show(n=2, vertical=True)

+-------+---+-------------+
|   name|age|         city|
+-------+---+-------------+
|  Alice| 25|     New York|
|    Bob| 30|      Chicago|
|Charlie| 35|San Francisco|
|  Diana| 40|       Boston|
|  Ethan| 45|      Seattle|
+-------+---+-------------+

+-------+---+-------------+
|   name|age|         city|
+-------+---+-------------+
|  Alice| 25|     New York|
|    Bob| 30|      Chicago|
|Charlie| 35|San Francisco|
+-------+---+-------------+
only showing top 3 rows
+-------+---+-------------+
|name   |age|city         |
+-------+---+-------------+
|Alice  |25 |New York     |
|Bob    |30 |Chicago      |
|Charlie|35 |San Francisco|
|Diana  |40 |Boston       |
|Ethan  |45 |Seattle      |
+-------+---+-------------+

-RECORD 0--------
 name | Alice
 age  | 25
 city | New York
-RECORD 1--------
 name | Bob
 age  | 30
 city | Chicago
only showing top 2 rows

In [0]:
display(selected_df)
display(selected_df.limit(3))

name,age,city
Alice,25,New York
Bob,30,Chicago
Charlie,35,San Francisco
Diana,40,Boston
Ethan,45,Seattle

name,age,city
Alice,25,New York
Bob,30,Chicago
Charlie,35,San Francisco

In [0]:
display(selected_df) 
from pyspark.sql.functions import col
display(selected_df.groupBy("city").count().orderBy(col("count").desc()))
html_output = display(selected_df, displayHandler=None)

name,age,city
Alice,25,New York
Bob,30,Chicago
Charlie,35,San Francisco
Diana,40,Boston
Ethan,45,Seattle

city,count
New York,1
Chicago,1
San Francisco,1
Boston,1
Seattle,1

name,age,city
Alice,25,New York
Bob,30,Chicago
Charlie,35,San Francisco
Diana,40,Boston
Ethan,45,Seattle

In [0]:
print("=== show() output ===")
selected_df.show(3)

=== show() output ===
+-------+---+-------------+
|   name|age|         city|
+-------+---+-------------+
|  Alice| 25|     New York|
|    Bob| 30|      Chicago|
|Charlie| 35|San Francisco|
+-------+---+-------------+
only showing top 3 rows

In [0]:
print("=== display() output ===")
display(selected_df.limit(3))

=== display() output ===

name,age,city
Alice,25,New York
Bob,30,Chicago
Charlie,35,San Francisco